# Ignore virtual environment
venv/

# Ignore Mac system files
.DS_Store

# Ignore Jupyter Notebook checkpoints
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore log files and temporary files
*.log
*.tmp
